canvas {
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;

	transform: scale(0.6667,0.6667) translate(-480px,-520px); 
	-ms-transform: scale(0.6667,0.6667) translate(-480px,-520px);  
	-webkit-transform: scale(0.6667,0.6667) translate(-480px,-520px); 
}

@media screen and (min-width: 1600px)
{
	canvas {
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;

	transform: scale(0.6667,0.6667) translate(-480px,-520px); 
	-ms-transform: scale(0.6667,0.6667) translate(-480px,-520px);  
	-webkit-transform: scale(0.6667,0.6667) translate(-480px,-520px); 
	}
}

#deckbuilder {
	margin: 5px;
	margin-left: -40px;
}

#deckbuilder #search {
	position: relative;
	top: 475px;
	z-index:100;
	width: 220px;
}

#deckbuilder #search input {
	width: 206px;
}

#deckbuilder #search select {
	width: 220px !important;
}